# Configurações do MongoDB
MONGODB_URI=mongodb://localhost:27017/sistema-cadastro-empresas
MONGODB_URI_PROD=mongodb+srv://seu_usuario:sua_senha@seu_cluster.mongodb.net/sistema-cadastro-empresas

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=seu_jwt_secret_super_seguro_aqui_2024

# Session Secret
SESSION_SECRET=session_secret_super_seguro_aqui_2024

# Configurações de Segurança
BCRYPT_ROUNDS=12
